version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13
    working_directory: /go/src/github.com/bitnami/gonit
    steps:
      - checkout
      - run: make get-deps
      - run: make vet
      - run: make lint
      - run: make test
      - run: make cover
      - run: make race-test
      - run: make build
      - store_artifacts:
          path: /go/src/github.com/bitnami/gonit/dist/gonit/gonit
          destination: gonit
